# LunaTrade V1 - SOLO SIMULACION
APP_ENV=development
SYMBOL=BTCUSDT
PAPER_STARTING_CAPITAL=10
PAPER_AUTOTRADE=false

# FASE FUTURA - NO PEGAR CLAVES REALES TODAVIA
BINANCE_TESTNET_API_KEY=
BINANCE_TESTNET_SECRET_KEY=
BYBIT_TESTNET_API_KEY=
BYBIT_TESTNET_SECRET_KEY=
